/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #11083c;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Login_Box {
    background-color: #fff;
    width: 250px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.password-container {
    position: relative;
}
#password{
    width: 230px;
}

.show-password-container {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0b042e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
