<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadRover Depot-My-library</title>
    <link rel="stylesheet" href="{% static '/CSS/ava_book.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>
<body>
  <header>
    <nav class="admin">
      <p class = "siteName">ReadRover Depot</p>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'Browes' %}">Browes</a>

      {% if user.is_authenticated %}
        {%if user.is_superuser%}
            <a href="{% url 'profile' %}">My Account</a>
            <a href="{% url 'ava_book' %}">Available Books</a>
            <a href="{% url 'Add_Book' %}">Add Book</a>

        {%else%}
            <a href="{% url 'mylib' %}">My Library</a>
            <a href="{% url 'profile' %}">My Account</a>
        {%endif%}
      {%endif%}

      

  </nav>
  {% if user.is_authenticated %}
            <a href = "{% url 'profile'%}"><p> Hi {{user.username}}</p></a>
            <a class="logout-button" href="{% url 'logout' %}">
                Log out <i class="fas fa-sign-out-alt"></i>
            </a>
        {% else %}
            <a class="login-button" href="{% url 'login' %}">
                Log in <i class="fas fa-sign-in-alt"></i>
            </a>
            <a class="signup-button" href="{% url 'register' %}">
                Sign up <i class="fas fa-user-plus"></i>
            </a>
        {% endif %}
  </header>   
        <main>


                <!-- Content of the page -->
            <div class="books">
                {%if lib_book %}
                  {% for book in lib_book %}
                    {% csrf_token %}
                    <div class="book">
                      <a href="{% url 'Book-info' my_id=book.id %}" class="book-link">
                      <p>{{ book.title }}</p>
                      <img src="{{ book.BookCover.url }}" alt="{{ book.title }}">

                    </div>
                    {% endfor %}
                {%else%}
                    <p class = "emptylib">You did not borrow any books</p>
                {%endif%}
            </div>

        </main>
    </header>
    <footer>
        &copy; 2024 Recipe Finder. All rights reserved.
    </footer>
</body>
</html>